<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    {{ fontawesome_html() }}


    <title>File Explorer</title>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
                <a class="navbar-brand hvr-shadow" href="/">File Explorer</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">

                              

                    
                               
                    {% for f in favList %}

                    {% set list1 = f.split('>') %}
        
                    <li class="nav-item">
                      <a class="nav-link active hvr-shadow mr-4" href="/{{f}}">{{list1[list1|length-1]}} <span class="sr-only">(current)</span></a>
                    </li>

                    {% endfor %}



                    {% if favList %}
                    <li class="nav-item mr-4">
                      <a class="nav-link active hvr-shadow" href="/downloadFolder/{{currentDir}}"> <span class="fa fa-download"></span> <span class="sr-only">(current)</span></a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link active hvr-shadow" href="/logout/"> <span class="fa fa-sign-out-alt"></span> <span class="sr-only">(current)</span></a>
                  </li>
                  
                    {% endif %}
                    

                    
                  </ul>
                </div>
              </nav>


    {% block content %} {% endblock %}




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>